.AdvertDetailContainer {
    margin: 5rem;
    padding: 2rem;
    background-color: #AFB42B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85vw;
}

.AdvertDetail-header {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #F0F4C3;
    border: solid 0.2rem #757575;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.AdvertDetail-name {
    font-family: 'Courier New', Courier, monospace;
}
 
.AdvertDetail-photo {
    align-self: center;
    margin: 2rem;
}

.AdvertDetail-footer {
    margin: 1rem;
    padding: 0.5rem;
    border: solid 0.2rem #757575;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}