.LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.75rem;
    background-color: #F0F4C3;
    height: 100%;
}

.LoginPage-title {
    color: #212121;
    font-size: 52px;
}

.Login-Error {
    background-color: rgba(247, 127, 127, 0.5);
    padding: 0.7rem;
    margin: 1rem;
    margin-top: 2.5rem;
}

.Loading {
    background-color: rgba(70, 105, 47, 0.5);
    padding: 0.7rem;
    margin: 1rem;
    margin-top: 2.5rem;
}

