.layout-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.formField, .newAdvert-checkbox, .newAdvert-fileInput, .submit-wrapper {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.newAdvert-fileInput > .img {
    align-items: center;
}

.newAdvert-TagsSelector {
    margin: 1rem;
    padding: 1rem;
    align-items: center;
}

.newAdvert-submit {
    margin: 0.5rem;
}

.newAdvert-submit:disabled {
    opacity: 50%;
    cursor: default;
}